.userList {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  & > div {
    margin-left: -10px;
  }

  .circle {
    width: 32px;
    min-width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #353a41;
    border: 1px solid #303339;
    box-sizing: border-box;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
