.message {
  padding: 6px 12px;
  font-family: PTRootUIWebRegular;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.01em;
  background-color: #353a41;
  border-radius: 10px;
  margin-bottom: 24px;
  white-space: pre-wrap;
  word-wrap: break-word;

  &.system {
    border-radius: 5px;
    letter-spacing: 0.01em;
    text-align: center;
    width: 100%;
  }
}
.messageInfo {
  display: flex;
  align-items: center;
}
.messageInfoOwn {
  flex-direction: row-reverse;
}
.displayName {
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  margin-left: 8px;
  margin-right: 12px;
}

.time {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #bfc4cb;
}

.userMessage {
  margin-left: 24px;
  max-width: 80%;
}
