:root {
  --color-black: #000;
  --color-white: #fff;

  --color-background-primary: #353a41;
  --color-background-app: linear-gradient(173.41deg, #72767b 0%, #565b62 100%);

  --color-outlined-primary: #b8b6c2;

  --color-text-gray-1: #c5c5c5;
}
