.bold {
  font-family: arial;
  font-weight: bold;
}

.medium {
  font-family: arial;
}

.light {
  font-family: arial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}