.input {
  font-size: 16px;
  line-height: 20px;
  border: 0;
  background-color: transparent;
  color: #fff;

  font-family: PTRootUIWebLight;
  outline: none;

  &.fullWidth {
    width: 100%;
  }

  &.large {
    height: 48px;
    line-height: 48px;
    padding: 0 0 0 8px;
  }

  &.outlined {
    border: 1px solid rgba(255,255,255,.2);
    box-sizing: border-box;
    border-radius: 5px;
  }
}