.avatar {
  width: 24px;
  min-width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: #353a41;
  border: 1px solid #303339;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: 0.01em;
  font-weight: 500;
  img {
    max-width: 100%;
  }
}

.large {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
